@import 'fonts-include/MuseoSansCyrl';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;

	font-family: 'MuseoSansCyrl';
	font-weight: 500;
	min-height: 100vh;
}


body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #fff;

	@media (max-width: 680px){
		padding-bottom: 64px;
	}
}


main{
	flex-grow: 1;
	padding-top: 100px;

	display: flex;
	flex-direction: column;

	@media (max-width: 680px){
		padding-top: 80px;
		
	}

	padding-bottom: 90px;
	@media (max-width: 1024px){
		padding-bottom: 60px;
	}
	
}

main.index{
	padding-bottom: 0;
}


a{
	text-decoration: none;
	outline: none;
}

button{
	font-family: inherit;
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
}

input, textarea{
	font-family: inherit;
	border: none;
	background: #fff;
	outline: none;
}

address{
	font-style: normal;
}

ul{
	list-style: none;
}


.section{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 30px;

	&:not(:first-of-type){
		margin-top: 52px;

		@media (max-width: 1024px){
			margin-top: 42px;
		}
		@media (max-width: 680px){
			margin-top: 32px;
		}
	}

	@media (max-width: 1024px){
		padding: 0 20px;
	}
	@media (max-width: 680px){
		padding: 0 16px;
	}

	
}

.section__inner{
	width: 100%;
	max-width: 1420px;

	
}


.title-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 32px;
	

	.h2{
		margin-right: 20px;
	}


	.i-link{
		font-weight: 500;
		font-size: 14px;
		color: #268E94;
		padding: 10px 20px;

		border: 1px solid #ADCBCD;
		border-radius: 12px;

		transition: 300ms;

		&:hover{
			border-color: #2DA0A6;
		}

		@media (max-width: 1024px){
			padding: 0;
			font-size: 13px;
			border: none;

			text-align: right;
		}
	}
	@media (max-width: 1024px){
		margin-bottom: 24px;
	}
	@media (max-width: 680px){
		margin-bottom: 16px;
	}
	
}


.hide-scroll{
	overflow: hidden
}

.page-title{
	margin-bottom: 32px;
	@media (max-width: 1024px){
		margin-bottom: 24px;
	}
	@media (max-width: 680px){
		margin-bottom: 18px;
	}
}

.h1{
	
	font-weight: 500;
	font-size: 42px;
	line-height: 120%;	
	color: #121212;
	white-space: pre-line;

	@media (max-width: 1024px){
		font-size: 32px;
	}

	@media (max-width: 680px){
		font-size: 20px;
	}
	
}

.h2{
	font-weight: 500;
	font-size: 30px;
	line-height: 120%;
	color: #121212;

	white-space: pre-line;

	@media (max-width: 1024px){
		font-size: 24px;
	}
	@media (max-width: 680px){
		font-size: 20px;
	}
}
.h3{

	font-weight: 500;
	font-size: 26px;
	line-height: 120%;
	color: #121212;
	white-space: pre-line;
}

.h4{
	font-weight: 500;
	font-size: 24px;
	line-height: 110%;
	white-space: pre-line;
	color: #121212;

	@media (max-width: 1024px){
		font-size: 18px;
	}

	@media (max-width: 680px){
		font-size: 14px;
	}
}



.h5{
	
	font-weight: 500;
	font-size: 18px;
	line-height: 110%;
	color: #121212;
	white-space: pre-line;

	@media (max-width: 1024px){
		font-size: 16px;
	}
	@media (max-width: 680px){
		font-size: 14px;
	}
}



.test-card-wrap{
	
	
	width: 100%;
	max-width: 1060px;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	@media (max-width: 1024px){
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
	}
}

.test-card-wrap-2{
	display: flex;
	
}


.tippy-box{
	background: #FFFFFF;
	border: 1px solid #DFDDDA;
	border-radius: 12px;
	padding: 15px 20px;
	max-width: 225px !important;
}

.tippy-content{
	font-weight: 500;
	font-size: 13px;
	line-height: 140%;
	color: rgba(18, 18, 18, 0.4);
}


.round-link{
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	position: relative;
	width: 30px;
	height: 30px;

	@media (max-width: 1024px){
		width: 24px;
		height: 24px;
	}

	transform-origin: center;

	img{
		position: relative;
		z-index: 1;
		transform: translate(25%, 0);

		@media (max-width: 1024px){
			width: 6px;
			height: 9px;
		}
	}

	&::before{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		
		width: 30px;
		height: 30px;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		transition: 300ms;	

		@media (max-width: 1024px){
			width: 24px;
			height: 24px;
		}
	}

	&:hover{

		&::before{
			width: 38px;
			height: 38px
		}
		
	}

}

.round-link.lg{
	width: 40px;
	height: 40px;
	&::before{
		width: 40px;
		height: 40px;
	}
	&:hover{

		&::before{
			width: 48px;
			height: 48px
		}
		
	}
}


.btn-green{
	font-weight: 700;
	font-size: 16px;
	line-height: 130%;
	color: #FFFFFF;
	padding: 19px 30px;
	background: #2DA0A6;
	border-radius: 12px;
	transition: 300ms;
	text-align: center;
	&:hover{
		background-color: #268E94;
	}
}

.btn-white{
	font-weight: 700;
	font-size: 16px;
	line-height: 130%;
	color: #121212;
	padding: 19px 30px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 12px;
	transition: 300ms;
	text-align: center;
	&:hover{
		background-color: transparent;
		color: #fff;
	}
}


.btn-transparent{
	border: 1px solid #ADCBCD;
	border-radius: 12px;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #268E94;
	padding: 19px 30px;
	background: transparent;
	border-radius: 12px;
	transition: 300ms;
	text-align: center;
	&:hover{
		border-color: #268E94
	}
}

.btn-transparent-white{
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 12px;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #fff;
	padding: 19px 30px;
	background: transparent;
	border-radius: 12px;
	transition: 300ms;
	text-align: center;
	&:hover{
		border-color: #fff;
	}
}


.prop-img-16-9{
	width: 100%;
}
.prop-img-16-9__inner{
	width: 100%;
	padding-bottom: 56.25%;
	position: relative;
	img{
		 position: absolute;
		 width: 100%;
		 max-width: 100%;
		 height: 100%;
		 object-fit: cover;
		 object-position: center;
	}
}

.round-add-favorite{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    svg{
        transform: translate(0, 1px);
		transition: 300ms;
    }
    path{
        transition: 300ms;
    }
	
	&:hover{
		border-color: #BF573F;
		path {
			
			stroke: #BF573F;
		  }	
	}
}

.round-add-favorite.favorite{
    border-color: #BF573F;
    path {
        fill: #BF573F;
        stroke: #BF573F;
      }
}

.round-remove-product{
	width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    svg{
        transform: translate(0, 1px);
		transition: 300ms;
    }
    path{
        transition: 300ms;
    }
	
	&:hover{
		border-color: #BF573F;
		path {
			
			fill: #BF573F;
		  }	
	}
}

@import 'vars';
@import 'units/sections/header/header';
@import 'units/sections/header/desktop-catalog';
@import 'units/sections/header/mobile-catalog';
@import 'units/sections/header/hamburger-menu';
@import 'units/sections/footer/footer';
@import 'units/sections/mob-nav/mob-nav';


@import 'units/pages/index';
@import 'units/pages/404.scss';
@import 'units/pages/ideas';
@import 'units/pages/idea-page';
@import 'units/pages/promos';
@import 'units/pages/special';
@import 'units/pages/about-company';
@import 'units/pages/help';
@import 'units/pages/catalog';
@import 'units/pages/contacts';
@import 'units/pages/products-list';
@import 'units/pages/product';
@import 'units/pages/cabinet';
@import 'units/pages/cart';
@import 'units/pages/ordering';


@import 'units/swiper/swiper';
@import 'units/sliders/sliders';

@import 'units/components/product-card';
@import 'units/easyAccordion/easyAccordion';

@import 'units/components/ideas';
@import 'units/components/brands';
@import 'units/components/c-form';
@import 'units/components/breadcrumbs';
@import 'units/components/pagination';
@import 'units/components/soc-links';
@import 'units/components/article';
@import 'units/components/page-contact-form';

@import 'units/sliders/popular-products';

@import 'units/easyModal/easyModal';

@import 'units/modals/modals';