.ordering-title-block{
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    @media (max-width: 1024px){
        margin-bottom: 24px;
    }
    @media (max-width: 680px){
        margin-bottom: 16px;
    }


    h1{
        margin-right: 20px;

        @media (max-width: 1024px){
            order: 2;
        }
    }

    .cc-prev-page{
        padding: 10px 12px;
    }

    @media (max-width: 1024px){
        flex-wrap: wrap;
    }
}

.cart-title-block__link-block{
    .cc-prev-page{
        margin-top: 0;
        margin-bottom: 0;

        @media (max-width: 1024px){
            display: inline-block;
            font-size: 14px;
            padding: 8px 14px;
        }
    }
    @media (max-width: 1024px){
        display: initial;
        width: 100%;
        order: 1;
        margin-bottom: 18px;
    }
}



.ordering{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    align-items: start;


    .sh-note{
        margin-top: 0;
    }

    @media (max-width: 1080px){
        grid-template-columns: 9fr minmax(320px, 3fr);
    }
    
    @media (max-width: 680px){
        grid-gap: 32px;
        grid-template-columns: 1fr;
    }
}


.ordering__form-col{
    grid-column: 1 / 8;

    @media (max-width: 1280px){
        grid-column: 1 / 9;
    }

    @media (max-width: 1080px){
        grid-column: initial;

        .c-form__line.inner{
            grid-template-columns: 1fr;
        }
    }
    @media (max-width: 680px){
        .c-form__line.inner{
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 360px){
        .c-form__line.inner{
            grid-template-columns: 1fr;
        }
    }
    
}
.ordering-form{

    @media (max-width: 1080px){
        .c-form__line{
            grid-template-columns: 1fr;
        }
    }

    
}
.ordering__calc-col{
    grid-column: 9 / 13;

    @media (max-width: 1080px){
        grid-column: initial;
    }
}


.pay-methods{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;

    @media (max-width: 680px){
        grid-gap: 10px;
    }
}

.pay-method{
    padding: 20px 20px 55px;
    background: #EFF3F6;
    border-radius: 8px;
    @media (max-width: 680px){
        padding: 20px 20px 24px;
    }
    cursor: pointer;

    p{
        
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: rgba(18, 18, 18, 0.4);
    }
}

.feedback-type{
    padding: 18px;
    background: #EFF3F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    h3{
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #121212;
        margin-bottom: 0 !important;
    }
}


.feedback-types{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;

    @media (max-width: 680px){
        grid-gap: 10px;
    }
}

.pay-method__top{
    display: flex;
    justify-content: space-between;


    h3{
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #121212;

        @media (max-width: 680px){
            margin-bottom: 9px;
        }
    }

    
}

.ordering-thanks-text{    
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: rgba(18, 18, 18, 0.5);
    white-space: pre-line;
    a, b{
        color: #121212;
        white-space: nowrap;
    }

    a{
        transition: 300ms;
        
        &:hover{
            color: #268E94;
        }
    }

    @media (max-width: 1024px){
        font-size: 16px;
    }
    @media (max-width: 680px){
        font-size: 14px;
    }

    margin-bottom: 48px;

    @media (max-width: 1024px){
        margin-bottom: 38px;
    }
}

.ordering-thanks{
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-gap: 20px;


    .or-products-list{
        margin-top: 0;
    }

    @media (max-width: 680px){
        grid-template-columns: 1fr;
        grid-gap: 24px;

        .cart-buy-panel{
            max-width: initial;
        }
    }

    
}

.ordering-thanks__ordering-data{
    h3{
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #121212;
        margin-bottom: 16px;

        @media (max-width: 1024px){
            font-size: 18px;
            margin-bottom: 12px;
        }
    }
    .cbp-details__item + .cbp-details__item{
        margin-top: 10px;
    }
    .cbp-details__item{
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 20px;

        @media (max-width: 680px){
            grid-template-columns: 1fr 1fr;
        }
        .title{
            color: rgba(18, 18, 18, 0.5);
        }
        
    }
    .cart-buy-panel{
        background: #EFF3F6;
        border-radius: 12px;
        border: none;    
        padding: 30px 20px 32px;

        display: grid;
        
    }

    
    .cbp-calcs{
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 20px;

        @media (max-width: 680px){
            grid-template-columns: 1fr 1fr;
        }
    }

    .cbp-details{
        padding-top: 0;
    }

    .cbp-calcs{
        margin-bottom: 0;
    }
}