<div class="product-card" data-id="12313ц12qw23jk2j34j" data-weight="0.9" data-total="9" data-price="370" data-calcmethod="2" >
    

    <div class="product-card__inner">
        <div class="pc-slider">
            <div class="pc-slider__swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide pc-slider__slide">
                        <img src="assets/img/products/sosiski/7.jpg" alt="">
                    </div>
                    <div class="swiper-slide pc-slider__slide">
                        <img src="assets/img/products/sosiski/1.jpg" alt="">
                    </div>
                    <div class="swiper-slide pc-slider__slide">
                        <img src="assets/img/products/sosiski/2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="pc-slider__pagination">

            </div>
            
        </div>

        <div class="product-card__about">
            <p class="product-card__product-name">Сосиски Большая SOSиска Бекон</p>

            <div class="product-card__props">
                <div class="product-card__weight">~0,9 кг <div class="product-card__question" data-tippy-content="Точная стоимость товара зависит от веса и будет известна после сборки заказа.">?</div></div>
                <p class="product-card__state-qty">В наличии</p>
            </div>
        </div>
        
        <div class="product-card__buy-block">
            <div class="product-card__buy-block--inner">
                <p class="product-card__price">370 ₽/кг</p>

                <button class="product-card__add-cart">
                    <img src="assets/img/icons/add-card-btn.svg" alt="">
                </button>
                <div class="product-card__buy-panel">
                    <button class="product-card__qty-control product-card__minus" >
                        <img src="assets/img/icons/minus.svg" alt="">
                    </button>
                    <div class="product-card__buy-stat">
                        <p class="product-card__bp-top">
                            <span class="product-card__calc-qty-group"><span class="product-card__calc-qty">#</span> шт.</span> 
                            <span class="product-card__calc-weight-group">~<span class="product-card__calc-weight">#</span> кг</span>
                        </p>
                        <p class="product-card__bp-bottom"><span class="product-card__calc-summ">#</span>₽</p>
                    </div>
                    <button class="product-card__qty-control product-card__plus">
                        <img src="assets/img/icons/plus.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="product-card__label new">Новинка</div>
    
    <button class="product-card__add-favorite">
        <svg width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">            
            <path d="M19.0714 6.91699C17.3794 6.91699 15.8876 7.75531 15 9.03152C14.1124 7.75531 12.6206 6.91699 10.9286 6.91699C8.20671 6.91699 6 9.08457 6 11.7591C6 16.6791 15 22.917 15 22.917C15 22.917 24 16.6791 24 11.7591C24 9.08457 21.7933 6.91699 19.0714 6.91699" stroke="#D0D0D0" stroke-width="2"></path>            
        </svg>
    </button>
</div>