<footer class="footer">
    <div class="footer__inner">
        <div class="footer__top">
            <div>
                <div class="footer__phone">
                    <a href="tel:+78001008515">8 800 100 85 15</a>
                    <p>бесплатно по России</p>
                </div>
                <div class="f-soc-links">
                    <a href="https://www.vk.com"  target="_blank">
                        <img src="assets/img/icons/vk.svg" alt="">
                    </a>
                    <a href="https://www.ok.com" target="_blank">
                        <img src="assets/img/icons/ok.svg" alt="">
                    </a>
                </div>
            </div>

            <div class="footer__address">
                <a href="mailto:spk@rmpr.ru">spk@rmpr.ru</a>
                <address>Россия, Новосибирск, 
                    ул. Дуси Ковальчук, 1В </address>
                <p>Доставка с 10:00 до 22:00</p>
            </div>
            <nav class="footer__nav">
                <ul>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Эксклюзивные продукты</a></li>
                    <li><a href="#">Подарочные наборы</a></li>
                    <li><a href="#">О компании</a></li>
                </ul>
                <ul>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Как сделать заказ</a></li>
                    <li><a href="#">Отслеживание заказа</a></li>
                    <li><a href="#">Служба качества</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>

            <div class="footer__quetstion-block">
                <p>Если у вас есть вопросы, пожелания, комментарии – 
                    вы можете отправить нам сообщение</p>
                <button class="f-btn-feedback">
                    <img src="assets/img/icons/chat.svg" alt="">                    
                    Обратная связь
                </button>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="fc-cr">© ООО «Сибирская продовольственная 
                компания», 1994 – 2021  
            </div>

            <div class="fc-privacy-politic">
                <a href="#">Политика конфиденциальности</a>
            </div>

            <div class="fc-developer">
                <div>
                    <p>Разработка сайта – </p>
                    <a href="#">Евростудио 
                        <img src="assets/img/icons/developer.svg" alt="">
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</footer>

<button class="to-up">
    <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.74117 0.282896L0.282555 7.74115C-0.0941849 8.11821 -0.0941849 8.72882 0.282555 9.10589C0.659622 9.48295 1.27088 9.48295 1.64762 9.10589L8.42382 2.33L15.2001 9.10589C15.5768 9.48295 16.1881 9.48295 16.5648 9.10589C16.7533 8.91735 16.8476 8.6706 16.8476 8.42352C16.8476 8.17643 16.7533 7.92968 16.5648 7.74115L9.10623 0.282896C8.72917 -0.0941729 8.11786 -0.0941729 7.74117 0.282896Z" fill="#121212"/>
        </svg>
        
</button>