<footer class="footer">
    <div class="footer__inner">
        <div class="footer__top">
            <div>
                <div class="footer__phone">
                    <a href="tel:+78001008515">8 800 100 85 15</a>
                    <p>бесплатно по России</p>
                </div>
                <div class="f-soc-links">
                    <a href="https://www.instagram.com" target="_blank">
                        <img src="assets/img/icons/instagram.svg" alt="" class="fsl-instagram">
                    </a>
                    <a href="https://facebook.com" target="_blank">
                        <img src="assets/img/icons/facebook.svg" alt="">
                    </a>
                    <a href="https://www.vk.com"  target="_blank">
                        <img src="assets/img/icons/vk.svg" alt="">
                    </a>
                    <a href="https://www.twitter.com" target="_blank">
                        <img src="assets/img/icons/twitter.svg" alt="">
                    </a>
                </div>
            </div>

            <div class="footer__address">
                <a href="mailto:spk@rmpr.ru">spk@rmpr.ru</a>
                <address>Россия, Новосибирск, 
                    ул. Дуси Ковальчук, 1 </address>
                <p>Доставка с 10:00 до 22:00</p>
            </div>
            <nav class="footer__nav">
                <ul>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Эксклюзивные продукты</a></li>
                    <li><a href="#">Подарочные наборы</a></li>
                    <li><a href="#">О компании</a></li>
                </ul>
                <ul>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Как сделать заказ</a></li>
                    <li><a href="#">Отслеживание заказа</a></li>
                    <li><a href="#">Служба качества</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>

            <div class="footer__quetstion-block">
                <p>Если у вас есть вопросы, пожелания, комментарии – 
                    вы можете отправить нам сообщение</p>
                <button class="f-btn-feedback">
                    <img src="assets/img/icons/chat.svg" alt="">                    
                    Обратная связь
                </button>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="fc-cr">© ООО «Сибирская продовольственная 
                компания», 1994 – 2021  
            </div>

            <div class="fc-privacy-politic">
                <a href="#">Политика конфиденциальности</a>
            </div>

            <div class="fc-developer">
                <div>
                    <p>Разработка сайта – </p>
                    <a href="#">Евростудио 
                        <img src="assets/img/icons/developer.svg" alt="">
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</footer>