





<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/tippy-bundle.umd.js"></script>
<script src="assets/js/easyModal.js"></script>
<script src="assets/js/imask.js"></script>
<script src="assets/js/easyAccordion.js"></script>
<script src="assets/js/choices.min.js"></script>
<script src="assets/js/nouislider.min.js"></script>




<script src="assets/js/jquery-3.5.1.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>




<script src="assets/js/main.js"></script>



<!--НАВИГАЦИЯ НА ВРЕМЯ ТЕСТИРОВАНИЯ-->

<style>
    
    .test-ol li{
        margin: 10px 0;
        
    }
    .test-ol{
        padding: 0 20px;
    }
    .test-ol li a{
        color: #000;

        transition: 300ms;
        
    }

    .test-ol li a:hover{
        color: rgb(53, 110, 91);
    }

</style>

<div class="modal test-modal">
    <div class="modal__close"></div>
    <div class="modal__body">
        <ol class="test-ol">
            <li><a href="index.html">Главная</a></li>
            <li><a href="404.html">404</a></li>
            <li><a href="about-company.html">about-company</a></li>
            <li><a href="catalog.html">catalog</a></li>
            <li><a href="contacts.html">contacts</a></li>
            <li><a href="help.html">help</a></li>
            <li><a href="idea.html">idea</a></li>
            <li><a href="ideas.html">ideas</a></li>
            <li><a href="promo.html">promo</a></li>
            <li><a href="promo(Акций нет).html">promo(Акций нет)</a></li>
            <li><a href="special.html">special</a></li>
            <li><a href="subcatalog.html">subcatalog</a></li>
            <li><a href="products-list.html">products-list</a></li>
            <li><a href="product.html">product</a></li>
            <li><a href="cabinet-personal-data.html">cabinet-personal-data</a></li>

            <li><a href="cabinet-addresses.html">cabinet-addresses</a></li>
            <li><a href="cabinet-cru-address.html">cabinet-cru-address(cru - CReate-Update)</a></li>
            <li><a href="cabinet-my-orders.html">cabinet-my-orders</a></li>
            <li><a href="cabinet-open-order.html">cabinet-open-order</a></li>
            <li><a href="cabinet-order-edit-address.html">cabinet-order-edit-address</a></li>
            <li><a href="cabinet-order-edit-date-delivery.html">cabinet-order-edit-date-delivery</a></li>
            
            

            <li><a href="cabinet-favorites.html">cabinet-favorites</a></li>
            <li><a href="cabinet-bonuses.html">cabinet-bonuses</a></li>
            <li><a href="cabinet-feedback.html">cabinet-feedback</a></li>
            <li><a href="cart.html">cart</a></li>
        </ol>
        
        
        
    </div>

    <div class="modal__footer">

    </div>
</div>


<script>
    let headerLogo =  document.querySelector('.header__logo');

    headerLogo.onclick = function(event){
        event.preventDefault();
        new easyModal('.test-modal', options);

    }
    
</script>


</body>
</html>