<header class="header">
    <div class="header__inner">

        

        <nav class="h-nav">

            <a href="index.html" class="header__logo">
                <img src="assets/img/logo.svg" alt="">
            </a>

            <a class="h-catalog" href="catalog.html">
                <img src="assets/img/icons/catalog.svg" alt="">
                Каталог
            </a>
            <a href="promo.html" class="h-nav__promo">
                <img src="assets/img/icons/percent.svg" alt="">
                Акции
            </a>

            <a href="#.html" class="h-nav__link">Эксклюзивные продукты</a>
            <a href="#.html" class="h-nav__link">Доставка и оплата</a>
            <a href="#.html" class="h-nav__link">О компании</a>
            <a href="#.html" class="h-nav__link">Контакты</a>
        </nav>

        <div class="h-search">
            <div class="h-search__inner">
                <form class="h-search-form">
                    <input type="text" class="h-search-form__input" name="search-str" placeholder="Поиск по сайту">
                    <button class="h-search-form__btn">
                        <img src="assets/img/icons/search.svg" alt="">
                        <span>Найти</span>
                        
                    </button>
                </form>

                <button class="h-search__hide">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_275_3233)">
                        <path d="M9.46586 8.01307L15.6959 1.78281C16.1014 1.37755 16.1014 0.722315 15.6959 0.317062C15.2907 -0.0881907 14.6355 -0.0881907 14.2302 0.317062L7.99992 6.54733L1.76983 0.317062C1.36439 -0.0881907 0.709337 -0.0881907 0.304083 0.317062C-0.101361 0.722315 -0.101361 1.37755 0.304083 1.78281L6.53417 8.01307L0.304083 14.2433C-0.101361 14.6486 -0.101361 15.3038 0.304083 15.7091C0.506045 15.9112 0.771596 16.0128 1.03696 16.0128C1.30232 16.0128 1.56768 15.9112 1.76983 15.7091L7.99992 9.47882L14.2302 15.7091C14.4324 15.9112 14.6977 16.0128 14.9631 16.0128C15.2284 16.0128 15.4938 15.9112 15.6959 15.7091C16.1014 15.3038 16.1014 14.6486 15.6959 14.2433L9.46586 8.01307Z" fill="#121212"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_275_3233">
                            <rect width="16" height="16" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                        
                </button>
            </div>
        </div>


        <div class="h-controls">
            <div class="h-controls__control-wrap">
                <button class="h-controls__control h-btn-search" >
                    <div class="h-controls__icon-block">
                        <img src="assets/img/icons/search.svg" alt="">
                    </div>                    
                    Поиск
                </button>
            </div>
            
            <div class="h-controls__control-wrap">
                <a href="#" class="h-controls__control">
                    <div class="h-controls__icon-block">
                        <img src="assets/img/icons/favorite.svg" alt="">

                        <div class="hc-qty">
                            1
                        </div>
                    </div>                    
                    Избранное
                </a>
            </div>
            
            <div class="h-controls__control-wrap">
                <button href="#" class="h-controls__control sing-in-btn">
                    <div class="h-controls__icon-block">
                        <img src="assets/img/icons/user.svg" alt="">
                    </div>
                    
                    Войти
                </button>
            </div>
            
            <div class="h-controls__control-wrap">
                <a href="cart.html" class="h-controls__control hcc-cart">
                    <div class="h-controls__icon-block ">
                        <img src="assets/img/icons/cart.svg" alt="">
                        <div class="hc-qty">
                            6
                        </div>
                    </div>                    
                    1250 ₽
                </a>
            </div>
            

            
        </div>

        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>


<nav class="mob-nav">
    <div class="mob-nav__inner">
        <button class="mn-btn mn-catalog">
            <div class="mn-btn__icon-block">
                <img src="assets/img/icons/catalog.svg" alt="">
            </div>
            
            Каталог
        </button>
        <button class="mn-btn">
            <div class="mn-btn__icon-block">
                <img src="assets/img/icons/favorite.svg" alt="">

                <div class="hc-qty">
                    1
                </div>
            </div>
            Избранное
        </button>
        <button class="mn-btn sing-in-btn">
            <div class="mn-btn__icon-block">
                <img src="assets/img/icons/user.svg" alt="">
            </div>
            Войти
        </button>
        <button class="mn-btn mn-btn-cart">
            <div class="mn-btn__icon-block">
                <img src="assets/img/icons/cart.svg" alt="">
                <div class="hc-qty">
                    6
                </div>
            </div>
            
            Корзина
        </button>
    </div>
</nav>


<nav class="desktop-catalog">
    <div class="desktop-catalog__inner">
        <div class="desktop-catalog__inner--non-visible-area"></div>
        <ul class="dc-parent">
            <div class="dc-parent__inner">

                <li class="dc-parent__item ">
                    <span>Колбасы</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">


                    <ul class="dc-child">
                        <div class="dc-child__inner">
                            <div class="dc-child__scroll-container">
                                <li  class="dc-child__item">
                                    
                                    <span>Варёные колбасы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">

                                    <ul class="dc-child">
                                        <div class="dc-child__inner">
                                            <div class="dc-child__scroll-container">
                                                <li><a href="#">Говядина охлажденная</a></li>
                                                <li><a href="#">Говядина замороженная</a></li>
                                            </div>
                                        </div>
                                        
                                        
                                    </ul>
                                </li>

                                <li  class="dc-child__item">
                                    <span>Ветчины</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li  class="dc-child__item">
                                    <span>Полукопчёные колбасы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Варёно-копчёные колбасы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Сырокопчёные колбасы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Сыровяленные колбасы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Сосиски и сардельки</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Мясные деликатесы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Продукты из мяса птицы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Колбасы и деликатесы в нарезке</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>







                                <li  class="dc-child__item">
                                    
                                    <span>Варёные колбасы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">

                                    <ul class="dc-child">
                                        <div class="dc-child__inner">
                                            <div class="dc-child__scroll-container">
                                                <li><a href="#">Говядина охлажденная</a></li>
                                                <li><a href="#">Говядина замороженная</a></li>
                                            </div>
                                        </div>
                                        
                                        
                                    </ul>
                                </li>

                                <li  class="dc-child__item">
                                    <span>Ветчины</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li  class="dc-child__item">
                                    <span>Полукопчёные колбасы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Варёно-копчёные колбасы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Сырокопчёные колбасы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Сыровяленные колбасы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Сосиски и сардельки</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Мясные деликатесы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Продукты из мяса птицы</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                                <li class="dc-child__item">
                                    <span>Колбасы и деликатесы в нарезке</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="dc-parent__item">
                    <span>Сыры </span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                    
                </li>
                <li class="dc-parent__item">
                    <span>Консервы</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>
                <li class="dc-parent__item">
                    <span>Мясо</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">

                    <ul class="dc-child">
                        <div class="dc-child__inner">
                            <div class="dc-child__scroll-container">
                                <li  class="dc-child__item">
                                
                                    <span>Говядина</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
        
                                    <ul class="dc-child">
                                        <div class="dc-child__inner">
                                            <div class="dc-child__scroll-container">
                                                <li><a href="#">Говядина охлажденная 1</a></li>
                                                <li><a href="#">Говядина замороженная 2</a></li>
                                                <li><a href="#">Говядина охлажденная 3</a></li>
                                                <li><a href="#">Говядина замороженная 4</a></li>
                                                <li><a href="#">Говядина охлажденная 5</a></li>
                                                <li><a href="#">Говядина замороженная 6</a></li>
                                                <li><a href="#">Говядина охлажденная 7</a></li>
                                                <li><a href="#">Говядина замороженная 8</a></li>
                                                <li><a href="#">Говядина охлажденная 9</a></li>
                                                <li><a href="#">Говядина замороженная 10</a></li>
                                                <li><a href="#">Говядина охлажденная 11</a></li>
                                                <li><a href="#">Говядина замороженная 12</a></li>
                                                <li><a href="#">Говядина охлажденная 13 </a></li>
                                                <li><a href="#">Говядина замороженная 14</a></li>
                                                <li><a href="#">Говядина замороженная 15</a></li>
                                                <li><a href="#">Говядина охлажденная 16</a></li>
                                                <li><a href="#">Говядина замороженная 17</a></li>
                                                <li><a href="#">Говядина охлажденная 18</a></li>
                                                <li><a href="#">Говядина замороженная 19</a></li>
                                                <li><a href="#">Говядина охлажденная 20</a></li>
                                                <li><a href="#">Говядина замороженная 21</a></li>
                                            </div>
                                        </div>
                                        
                                    </ul>
                                </li>
        
                                <li  class="dc-child__item">
                                    <span>Фарши</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
        
                                <li class="dc-child__item">
                                    <span>Баранина</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
        
                                <li class="dc-child__item">
                                    <span>Баранина для запекания</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
        
                                <li class="dc-child__item">
                                    <span>Субпродукты</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
        
                                <li class="dc-child__item">
                                    <span>Шашлыки</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
        
                                    <ul class="dc-child">
                                        <div class="dc-child__inner">
                                            <div class="dc-child__scroll-container">
                                                <li><a href="#">Шашлык из свинины</a></li>
                                                <li><a href="#">Шашлык из баранины</a></li>
                                                <li><a href="#">Шашлык из курицы</a></li>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
        
                                <li class="dc-child__item">
                                    <span>Полуфабрикаты</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                            </div>

                            
                        </div>
                    </ul>
                </li>
                <li class="dc-parent__item">
                    <span>Наборы</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li >
                <li class="dc-parent__item">
                    <span>Эксклюзивные продукты</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>
                <li class="dc-parent__item">
                    <span>Для домашних любимцев</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>



                <li class="dc-parent__item">
                    <span>Сыры </span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                    
                </li>
                <li class="dc-parent__item">
                    <span>Консервы</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>
                <li class="dc-parent__item">
                    <span>Мясо</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">

                    <ul class="dc-child">
                        <div class="dc-child__inner">
                            <div class="dc-child__scroll-container">
                                <li  class="dc-child__item">
                                
                                    <span>Говядина</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
        
                                    <ul class="dc-child">
                                        <div class="dc-child__inner">
                                            <div class="dc-child__scroll-container">
                                                <li><a href="#">Говядина охлажденная 1</a></li>
                                                <li><a href="#">Говядина замороженная 2</a></li>
                                                <li><a href="#">Говядина охлажденная 3</a></li>
                                                <li><a href="#">Говядина замороженная 4</a></li>
                                                <li><a href="#">Говядина охлажденная 5</a></li>
                                                <li><a href="#">Говядина замороженная 6</a></li>
                                                <li><a href="#">Говядина охлажденная 7</a></li>
                                                <li><a href="#">Говядина замороженная 8</a></li>
                                                <li><a href="#">Говядина охлажденная 9</a></li>
                                                <li><a href="#">Говядина замороженная 10</a></li>
                                                <li><a href="#">Говядина охлажденная 11</a></li>
                                                <li><a href="#">Говядина замороженная 12</a></li>
                                                <li><a href="#">Говядина охлажденная 13 </a></li>
                                                <li><a href="#">Говядина замороженная 14</a></li>
                                                <li><a href="#">Говядина замороженная 15</a></li>
                                                <li><a href="#">Говядина охлажденная 16</a></li>
                                                <li><a href="#">Говядина замороженная 17</a></li>
                                                <li><a href="#">Говядина охлажденная 18</a></li>
                                                <li><a href="#">Говядина замороженная 19</a></li>
                                                <li><a href="#">Говядина охлажденная 20</a></li>
                                                <li><a href="#">Говядина замороженная 21</a></li>
                                            </div>
                                        </div>
                                        
                                    </ul>
                                </li>
        
                                <li  class="dc-child__item">
                                    <span>Фарши</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
        
                                <li class="dc-child__item">
                                    <span>Баранина</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
        
                                <li class="dc-child__item">
                                    <span>Баранина для запекания</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
        
                                <li class="dc-child__item">
                                    <span>Субпродукты</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
        
                                <li class="dc-child__item">
                                    <span>Шашлыки</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
        
                                    <ul class="dc-child">
                                        <div class="dc-child__inner">
                                            <div class="dc-child__scroll-container">
                                                <li><a href="#">Шашлык из свинины</a></li>
                                                <li><a href="#">Шашлык из баранины</a></li>
                                                <li><a href="#">Шашлык из курицы</a></li>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
        
                                <li class="dc-child__item">
                                    <span>Полуфабрикаты</span>
                                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                                </li>
                            </div>

                            
                        </div>
                    </ul>
                </li>
                <li class="dc-parent__item">
                    <span>Наборы</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li >
                <li class="dc-parent__item">
                    <span>Эксклюзивные продукты</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>
                <li class="dc-parent__item">
                    <span>Для домашних любимцев</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>


               
            </div>
        </ul>
    </div>
</nav>


<nav class="mobile-catalog">
    

    <div class="mc-container main" >
        <div class="mc-container__header">
            <button class="mc-container__prev" data-role="close">
                <img src="assets/img/icons/mob-catalog-prev-arrow.svg" alt="">
            </button>
            <p class="mc-container__cat-name">Каталог товаров</p>
            <button class="mc-container__close">
                <img src="assets/img/icons/mob-catalog-close.svg" alt="">                    
            </button>
        </div>

        <div class="mc-container__body">
            <ul class="mcc-list">
                <li class="mcc-list__item" data-target="kolbasa">
                    <span>Колбасы</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>
                <li class="mcc-list__item" data-target="sosiski">
                    <span>Сосиски и сардельки</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>

                <li class="mcc-list__item">
                    <span>Мясные деликатесы</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>
                <li class="mcc-list__item">
                    <span>Продукты из мяса птицы</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>

                <li class="mcc-list__item">
                    <span>Колбасы и деликатесы в нарезке</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>
                <li class="mcc-list__item">
                    <span>Сыры</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>

                <li class="mcc-list__item">
                    <span>Консервы</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>

                <li class="mcc-list__item" data-target="myaso">
                    <span>Мясо</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>
                <li class="mcc-list__item">
                    <span>Наборы и наборы с готовыми решениями</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>

                <li class="mcc-list__item">
                    <span>Полуфабрикаты</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>
                <li class="mcc-list__item">
                    <span>Для домашних любимцев</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">
                </li>
            </ul>
        </div>
    </div>

    <div class="mc-container " data-name="kolbasa">
        <div class="mc-container__header">
            <button class="mc-container__prev" data-role="prev">
                <img src="assets/img/icons/mob-catalog-prev-arrow.svg" alt="">
            </button>
            <p class="mc-container__cat-name">Колбасы</p>
            <button class="mc-container__close">
                <img src="assets/img/icons/mob-catalog-close.svg" alt="">                    
            </button>
        </div>

        <div class="mc-container__body">
            <ul class="mcc-list">
                <li class="mcc-list__item">
                    <a href="#">Варёные колбасы</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Ветчины</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Полукопчёные колбасы</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Варёно-копчёные колбасы</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Сырокопчёные колбасы</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Сыровяленные колбасы</a>                    
                </li>
            </ul>
        </div>
    </div>

    <div class="mc-container " data-name="sosiski">
        <div class="mc-container__header">
            <button class="mc-container__prev" data-role="prev">
                <img src="assets/img/icons/mob-catalog-prev-arrow.svg" alt="">
            </button>
            <p class="mc-container__cat-name">Сосиски и сардельки</p>
            <button class="mc-container__close">
                <img src="assets/img/icons/mob-catalog-close.svg" alt="">                    
            </button>
        </div>

        <div class="mc-container__body">
            <ul class="mcc-list">
                <li class="mcc-list__item" data-target="vidi-sosisok">
                    <span>Сосиски</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Сардельки</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Сосиски и сардельки из мяса птицы</a>                    
                </li>
            
            </ul>
        </div>
    </div>

    <div class="mc-container " data-name="vidi-sosisok">
        <div class="mc-container__header">
            <button class="mc-container__prev" data-role="prev">
                <img src="assets/img/icons/mob-catalog-prev-arrow.svg" alt="">
            </button>
            <p class="mc-container__cat-name">Сосиски</p>
            <button class="mc-container__close">
                <img src="assets/img/icons/mob-catalog-close.svg" alt="">                    
            </button>
        </div>

        <div class="mc-container__body">
            <ul class="mcc-list">
                <li class="mcc-list__item">
                    <a href="#">Сосиски без копчения</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Сосиски подкопчёные</a>                    
                </li>
            
            </ul>
        </div>
    </div>

    <div class="mc-container " data-name="myaso">
        <div class="mc-container__header">
            <button class="mc-container__prev" data-role="prev">
                <img src="assets/img/icons/mob-catalog-prev-arrow.svg" alt="">
            </button>
            <p class="mc-container__cat-name">Мясо</p>
            <button class="mc-container__close">
                <img src="assets/img/icons/mob-catalog-close.svg" alt="">                    
            </button>
        </div>

        <div class="mc-container__body">
            <ul class="mcc-list">
                <li class="mcc-list__item" data-target="myaso-ohlazgdennoe">
                    <span>Мясо охлажденное</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">                    
                </li>
                
                <li class="mcc-list__item" >
                    <span>Мясо замороженное</span>
                    <img src="assets/img/icons/desk-menu-arrow.svg" alt="">                    
                </li>
            </ul>
        </div>
    </div>
    <div class="mc-container " data-name="myaso-ohlazgdennoe">
        <div class="mc-container__header">
            <button class="mc-container__prev" data-role="prev">
                <img src="assets/img/icons/mob-catalog-prev-arrow.svg" alt="">
            </button>
            <p class="mc-container__cat-name">Мясо охлажденное</p>
            <button class="mc-container__close">
                <img src="assets/img/icons/mob-catalog-close.svg" alt="">                    
            </button>
        </div>

        <div class="mc-container__body">
            <ul class="mcc-list">
                <li class="mcc-list__item">
                    <a href="#">Говядина</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Фарши</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Баранина</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Баранина для запекания</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Субпродукты мякотные</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Субпродукты мясокостные</a>                    
                </li>
                <li class="mcc-list__item">
                    <a href="#">Шашлыки</a>                    
                </li>
            </ul>
        </div>
    </div>
</nav>


<nav class="hamburger-menu">
    <ul class="hamburger-menu__list">
        <li class="hamburger-menu__item">
            <button class="hamburger-menu__catalog">
                <img src="assets/img/icons/catalog.svg" alt="">
                Каталог
            </button>
        </li>
        <li class="hamburger-menu__item">
            <a href="#" class="hamburger-menu__link hamburger-menu__promo">
                <img src="assets/img/icons/percent.svg" alt="">
                Акции
            </a>
        </li>
        <li class="hamburger-menu__item">
            <a href="#" class="hamburger-menu__link">Эксклюзивные продукты</a>
        </li>
        <li class="hamburger-menu__item">
            <a href="#" class="hamburger-menu__link">Оплата и доставка</a>
        </li>
        <li class="hamburger-menu__item">
            <a href="#" class="hamburger-menu__link">О компании</a>
        </li>
        <li class="hamburger-menu__item">
            <a href="#" class="hamburger-menu__link">Контакты</a>
        </li>
        
    </ul>
</nav>