<div class="modal promo-detail" data-modal-name="main-promo">
    <div class="modal__close"></div>
    <div class="modal__body">
        <h3 class="modal__title">Большая распродажа колбас</h3>

        <p class="modal__subtitle">«Разнообразное питание» — это акция, которая позволит получить скидку от 3 до 10% на все покупки в течение месяца. </p>

        <p class="modal__text">А ещё — питаться правильно, здорОво и здОрово. Слышали о принципе «Съешь радугу», активно поддерживаемом нутрициологами? Он очень прост: каждый день рекомендуется включать в рацион 5 цветов растительных продуктов, чтобы получать необходимое организму количество витаминов, минералов, фитонутриентов, клетчатки и других полезных веществ. Красный, оранжевый, жёлтый, зелёный, голубой, синий и фиолетовый — только представьте, как ярко и вкусно такие сочетания будут смотреться на тарелке. Хорошее настроение и заряд энергии на весь день обеспечены! А если вы придерживаетесь принципа флекситарианства, участие в программе «Разнообразное питание» придётся особенно кстати. Ведь так вы сможете не только выстроить свою уникальную, гибкую систему питания на основе разнообразных блюд, но и получать за это скидку на весь ассортимент на следующий месяц.

            Как работает программа «Разнообразное питание»? Условия просты: в одном месяце копите на скидку, а в следующем — покупаете любые товары по выгодной цене.</p>

        <div class="modal__btn-group">
            <button  class="btn-transparent modal__close-btn">Закрыть</button>
            <a href="#" class="btn-green">Перейти к покупкам</a>
        </div>
    </div>
    

    
</div>


<div class="modal promo-detail" data-modal-name="sale-25">
    <div class="modal__close"></div>
    <div class="modal__body">
        <h3 class="modal__title">Большая распродажа колбас</h3>

        <p class="modal__subtitle">«Разнообразное питание» — это акция, которая позволит получить скидку от 3 до 10% на все покупки в течение месяца. </p>

        <p class="modal__text">А ещё — питаться правильно, здорОво и здОрово. Слышали о принципе «Съешь радугу», активно поддерживаемом нутрициологами? Он очень прост: каждый день рекомендуется включать в рацион 5 цветов растительных продуктов, чтобы получать необходимое организму количество витаминов, минералов, фитонутриентов, клетчатки и других полезных веществ. Красный, оранжевый, жёлтый, зелёный, голубой, синий и фиолетовый — только представьте, как ярко и вкусно такие сочетания будут смотреться на тарелке. Хорошее настроение и заряд энергии на весь день обеспечены! А если вы придерживаетесь принципа флекситарианства, участие в программе «Разнообразное питание» придётся особенно кстати. Ведь так вы сможете не только выстроить свою уникальную, гибкую систему питания на основе разнообразных блюд, но и получать за это скидку на весь ассортимент на следующий месяц.

            Как работает программа «Разнообразное питание»? Условия просты: в одном месяце копите на скидку, а в следующем — покупаете любые товары по выгодной цене.</p>

        <div class="modal__btn-group">
            <button  class="btn-transparent modal__close-btn">Закрыть</button>
            <a href="#" class="btn-green">Перейти к покупкам</a>
        </div>
    </div>
    

    
</div>