.c-radio{
	input[type="radio"]{
		display: none;
	}

	.c-radio__round{
		width: 24px;
		height: 24px;
		border: 2px solid rgba(18, 18, 18, 0.2);
		border-radius: 50%;

		flex-shrink: 0;
		cursor: pointer;
		position: relative;
		transition: 300ms;


		&::before{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			background-color: #2DA0A6;

			transform: translate(-50%, -50%);
			opacity: 0;
		}

		@media (max-width: 1024px){
			width: 20px;
			height: 20px;

			&::before{
				width: 8px;
				height: 8px;
			}
		}
	}

	input[type="radio"]:checked + .c-radio__round{
		border: 2px solid #2DA0A6;
		&::before{
			opacity: 1;
		}
	}


	&:hover{
		.c-radio__round{
			border-color: #2DA0A6;
		}
	}
	
}



.c-form__gender-radios{
	display: flex;
	

	.c-radio{
		background: #EFF3F6;
		border-radius: 8px;	
		flex-grow: .5;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		cursor: pointer;

		
		p{
			order: 1;
			font-size: 16px;

			color: rgba($color: #121212, $alpha: .5);
		}

		.c-radio__round{
			order: 2;
		}
	}
	input[type="radio"]:checked + .c-radio__round + p{
		color: #121212;
	}
	.c-radio + .c-radio{
		margin-left: 20px;
		@media (max-width: 420px){
			margin-left: 0;
			margin-top: 10px;
		}
	}
	@media (max-width: 420px){
		display: block;
	}
}


.c-form{
    position: relative;
}


.c-form__inp-wrap{
	position: relative;
	z-index: 1;
}
.c-form__line{
	display: grid;
	grid-template-columns: 1fr 1fr;

	&:not(:first-of-type){
		margin-top: 20px;
	}


}

.c-form.personal-data-form{
	.c-form__line{
		@media (max-width: 680px){
			grid-template-columns: 1fr;
		}
		
	}
}



.c-form__line.notification{
	padding: 20px 0;
	display: block;
	h3{
		font-weight: 500;
		font-size: 20px;
		line-height: 130%;
		color: #121212;
		margin-bottom: 24px;
		@media (max-width: 1024px){
			margin-bottom: 18px;
			font-size: 18px;
		}
	}
	@media (max-width: 1024px){
		padding: 26px 0 ;
		margin-top: 0 !important;
	}
	.c-checkbox-container + .c-checkbox-container{
		margin-top: 14px;
	}
}


.c-form__line.save-btns-group{
	display: block;
	.personal-data-save, .address-save{
		margin-left: 20px;
		padding: 16px 30px;
		@media (max-width: 480px){
			margin-left: 0;
		}
	}
	.personal-data-cancel-save, .address-cancel-save{
		font-weight: 700;
		padding: 16px 30px;
	}

	@media (max-width: 1024px){
		margin-top: 0;
	}

	@media (max-width: 480px){
		display: flex !important;
		flex-direction: column;
	}
}





.c-form__line.hide{
	display: none;
}


.c-form__line.width-100{
	.c-form__inp-wrap{
		grid-column: 1 / -1;
	}
}

.c-form__line.select-line{
	position: relative;
	z-index: 2;
}

.c-form__placeholder{
	
	
	
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: rgba(18, 18, 18, 0.5);
	
	position: absolute;
	transition: 300ms;
	left: 0;
	top: 22px;
	transform: translate(22px, 0%);
	z-index: 4;

	sup{
		position: absolute;
		transform: translate(0, -5px);
	}
}
.c-form__input-text{
	width: 100%;
	height: 60px;
	
	border: 2px solid #E7E7E7;
	border-radius: 8px;
	padding: 30px 22px 11px;

	
	font-family: 'MuseoSansCyrl';
	font-weight: 500;
	font-size: 16px;
	color: #121212;
	transition: 300ms;
	&:focus{
		border-color: #121212;
		border-width: 1px;
	}
}

.c-form__input{
	position: relative;
	background-color: #fff;
	z-index: 2;
}

.c-form__input:focus + .c-form__placeholder{
	font-size: 12px;

	top: 11px;
	transform: translate(22px, 0);
}
.c-form__input:not(:placeholder-shown) + .c-form__placeholder{
	font-size: 12px;

	top: 11px;
	transform: translate(22px, 0);
}
.c-form__textarea{
	padding: 30px 22px 11px;
	height: 120px;
	resize: none;
}

.c-form__textarea + .c-form__placeholder{
	top: 20px;
	transform: translate(22px, 0px);
}
.c-form__textarea:focus + .c-form__placeholder{
	font-size: 12px;

	top: 11px;
	transform: translate(22px, 0);
}
.c-form__textarea:not(:placeholder-shown) + .c-form__placeholder{
	font-size: 12px;

	top: 11px;
	transform: translate(22px, 0);
}


.c-form__btn{

	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
	width: 100%;
	padding: 17px 5px;
	background: #2DA0A6;
	border-radius: 12px;
	transition: 300ms;

	&:hover{
		background-color: #268E94;
	}
}


.c-from__add-file-wrap{
	margin-top: 10px;
	display: flex;
	align-items: center;
	input{
		display: none;
	}
	
	
}

.c-from__add-file{
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	img{
		margin-right: 8px;
	}
}
.c-from__add-file--clear{
	width: 12px;
	height: 12px;
	display: none;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-left: 8px;


	div{
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: red;

		&:first-of-type{
			transform: rotate(-45deg);
		}
		&:last-of-type{
			transform: rotate(45deg);
		}
	}

	
}

.c-form__calendar-icon{
	position: absolute;
	top: 50%;
	right: 22px;
	transform: translate(0, -50%);
	z-index: 5;
	cursor: pointer;
}

.c-form__select-label{
	font-weight: 500;
	font-size: 14px;
	line-height: 120%;
	color: rgba(18, 18, 18, 0.5);

	position: absolute;
	transition: 300ms;
	left: 20px;
	top: 8px;
	
	z-index: 1;

	sup{
		line-height: 1;
		transform: translate(0, 25%);
		display: inline-block;
	}
}

.c-form__select-wrap{
    position: relative;
    z-index: 1;

	.choices__inner{
		align-items: flex-end;
	}
}


.choices__item{

	&:not(:first-of-type){
		border-top: 1px solid #E7E7E7;
	}

}
.c-from__add-file--clear.show{
	display: flex;
}


.c-from__add-file--name{	
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	color: #2DA0A6;
	transition: 300ms;
	&:hover{
		color: #268E94;
	}
}


.c-form__enter-with-password{
	
	font-weight: 500;
	font-size: 14px;
	color: #2DA0A6;
	margin-top: 15px;
	transition: 300ms;
	&:hover{
		color: #268E94
	}

}


.choices__inner{
	font-family: 'MuseoSansCyrl';
	font-weight: 500;
	font-size: 16px;
	color: #121212;
	height: 60px;
	border-radius: 8px;
	display: flex;
	align-items: center;

	
}

.choices__item--choice.is-highlighted{
	background-color: #fff !important;
}



.choices__item{
	&:hover{
		background-color: rgba($color: #E7F4F5, $alpha: .5) !important;
	}
}

.choices__item.choices__item--selectable{
	//
}
.choices__list.choices__list--single > .choices__item{
	background-color: #fff !important;
}

.choices__item--choice.is-selected {
	background-color: #E7F4F5 !important;;
}

.is-open{
	.choices__inner{
		border-radius: 8px ;
	}	
}

.is-focused{
	.choices__inner{
		border-width: 1px !important;
		
	}

}

.choices__inner{
	background: #fff;
	border: 2px solid #E7E7E7;
}

.choices__item{
	font-family: 'MuseoSansCyrl';
	font-weight: 500;
	font-size: 16px !important;
	color: #121212;
}

.choices__list--dropdown{
	border-radius: 8px !important;
	

	transform: translateY(6px);
}


.choices[data-type*="select-one"]::after{
	background: url('../img/icons/arrow-select.svg');
	border: none;
	width: 16px;
	height: 12px;
	background-position: center;
	background-repeat: no-repeat
}
.choices[data-type*="select-one"].is-open::after{
	margin-top: -2.5px;
}

.choices__list--single {
	
	padding: 4px 16px 4px 10px;
	
}

.choices{
	margin-bottom: 0;
}


.c-checkbox-container{
    display: flex;
    align-self: center;

    &:hover{
        .filter-checkbox + label{
            border-color: #BF573F;
        }        
    }
}
.c-checkbox{
    display: none;
}
.c-checkbox + label{
    width: 16px;
    height: 16px;
    border: 2px solid #B3BCC5;
    border-radius: 4px;
    cursor: pointer;
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
    
.c-checkbox:checked + label{
    background-color: #BF573F;
    border-color: #BF573F;
}

.c-checkbox + label + label{
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #121212;
    margin-left: 12px;
    cursor: pointer;
}

.c-form__show-hide-password{
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: url('../img/icons/show-password.svg');
	background-size: cover;
	background-position: center;

	position: absolute;
	right: 18px;
	top: 20px;
	
	z-index: 5;
}

.c-form__show-hide-password.show{
	background: url('../img/icons/hide-password.svg');
	background-size: cover;
	background-position: center;
}

.miss-password{
	font-size: 12px;
	color: #fff;
	background-color: #BF573F;
	padding: 3px 6px;
	display: none;
	border-radius: 5px;
	margin: 2px;
	animation: showMissPassword .2s forwards;
	opacity: 0;
	transform: translate(0, -5px);
}

.miss-password.show{
	display: inline-block;
}

@keyframes showMissPassword{
	to{
		opacity: 1;
		transform: translate(0, 0);
	}
}

.c-form__forgot-password{
	display: inline-block;
	color: #2DA0A6;
	transition: 300ms;
	margin-top: 15px;
	font-size: 14px;
	&:hover{
		color: #268E94;
	}
}
.enter-wp__body{
	display: none;
}
.modal.enter-wp{
	padding-bottom: 40px;
	.welcome-body{
		display: none;
		
	}

	.enter-wp__body{
		display: initial;
	}

	.modal__footer{
		display: none;
	}

}